In [47]:
# import libraries

import itertools
import glob
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [59]:
## This is for metadata_set*_Well.csv

# Create lists with the different factors.
rows = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
columns = range(1, 12 + 1)

In [60]:
# Generate a dataframe with all combinations of all factors (Cartesian product).
design = pd.DataFrame(list(itertools.product(
    rows, columns
)))
design.columns = ['Row', 'Column']

# Add some helpful columns that are made up by combining other factors.
design['Well'] = (
    design['Row']
    + design['Column'].astype(str).str.pad(2, fillchar='0')
)

design['ID'] = range(1,96+1)
design.index = design['ID']

In [61]:
idx1 = design['ID'] <=16
idx2 = (design['ID'] >=17) & (design['ID'] <=32)
idx3 = (design['ID'] >=33) & (design['ID'] <=64)
idx4 = (design['ID'] >=65) & (design['ID'] <=96)

In [62]:
design.loc[idx1, 'Set'] = 'Set#1'
design.loc[idx2, 'Set'] = 'Set#2'
design.loc[idx3, 'Set'] = 'Set#3'
design.loc[idx4, 'Set'] = 'Set#4'

In [63]:
design.loc[idx1, 'RNA_isolation_date'] = '20180622'
design.loc[idx2, 'RNA_isolation_date'] = '20180623'
design.loc[idx3, 'RNA_isolation_date'] = '20180627'
design.loc[idx4, 'RNA_isolation_date'] = '20180702'

In [65]:
design.head()

   Row  Column Well  ID    Set RNA_isolation_date
ID
1    A       1  A01   1  Set#1           20180622
2    A       2  A02   2  Set#1           20180622
3    A       3  A03   3  Set#1           20180622
4    A       4  A04   4  Set#1           20180622
5    A       5  A05   5  Set#1           20180622

In [67]:
design.to_csv('design.csv')